* {
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
}

.header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #1F2937;
}

.header-text {
    font-size: 24px;
    color: #F9FAF8;
}

a {
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
    padding: 8px;
}

.content-one {
    display: flex;
    justify-content: center;
    background-color: #1F2937;
    padding-top: 32px;
    padding-bottom: 32px;
}

.hero-text {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin-bottom: 8px;
}

.hero-description {
    font-size: 18px;
    color: #E5E7EB;
    margin-bottom: 8px;
}

.hero-button {
    color: #F9FAF8;
    background-color: #3882F6;
    border-radius: 8px;
    border: none;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 16px;
    padding-left: 16px;
}

/* qui ho messo delle misure per width ma credo sia sbagliato perché non è responsive */
.left-side {
    width: 400px;
    margin-right: 32px;
}

img {
    width: 400px;
}

.content-two {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
}

.information-text {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    padding-top: 32px;
    padding-bottom: 32px;
}

.box-container {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.box-description {
    text-align: center;
    width: 100px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.rounded-box {
    border: 2px solid #3882F6;
    border-radius: 8px;
    width: 100px;
    height: 100px;
}

/* Non so se qui va bene il padding o c'è qualcosa che possa centrare tutta la sezione */
.content-three {
    background-color: #E5E7EB;
    padding: 48px;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-text {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
}

.author {
    align-self: flex-end;
}

.content-four {
    background-color: #3882F6;
    display: flex;
    justify-content: center;
    margin: 48px;
    padding: 32px;
    border-radius: 8px;
    gap: 32px;
}

.cta-title, .cta-text {
    color: #F9FAF8 ;
}

.cta-text {
    font-weight: 200;
}

.register {
    border: 2px solid #F9FAF8;
    border-radius: 8px;
    background-color: #3882F6;
    color: #F9FAF8;
    padding-left: 16px;
    padding-right: 16px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    padding: 32px;
}

.copyright {
    color: #F9FAF8;
}